.slider {
    display: block;
    /*min and max changes size of slider?*/
    height: 320px;
    min-width: 260px;
    max-width: 640px;
    margin: auto;
    margin-top: 20px;
    position: relative;
} 